      <footer id="anchor-contact" class="main__footer footer u__vspacing s__dark target-cynosure">
        <div class="u__container u__spacing">
          <div class="row text-center">
            <div class="col-md-6 col-lg-8 col-xl-9 mx-auto">
              <p class="text-center">
                <img class="brand__img img--rwd" alt="Brown University" src="{{ site.baseurl }}/assets/img/brown-policy-lab-white.svg">
              </p>
              <p class="text-center m-0">
                <small>An official website of <a href="https://thepolicylab.brown.edu">The Policy Lab</a> at Brown University</small>
              </p>
            </div>

          </div>
        </div>
      </footer>
